In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
df.columns

Index(['movieId', 'title', 'Category_1', 'Category_2', 'Category_3',
       'Category_4', 'Category_5', 'Category_6', 'Category_7', 'Category_8',
       'Category_9', 'Category_10', 'year'],
      dtype='object')

In [5]:
df.drop(['Category_2', 'Category_3',
       'Category_4', 'Category_5', 'Category_6', 'Category_7', 'Category_8',
       'Category_9', 'Category_10'], axis=1, inplace=True)

In [6]:
df

       movieId                         title Category_1    year
0            1                    Toy Story   Adventure  1995.0
1            2                      Jumanji   Adventure  1995.0
2            3             Grumpier Old Men      Comedy  1995.0
3            4            Waiting to Exhale      Comedy  1995.0
4            5  Father of the Bride Part II      Comedy  1995.0
...        ...                           ...        ...     ...
27273   131254        Kein Bund für's Leben      Comedy  2007.0
27274   131256       Feuer, Eis & Dosenbier      Comedy  2002.0
27275   131258                  The Pirates   Adventure  2014.0
27276   131260                 Rentun Ruusu         NaN  2001.0
27277   131262                    Innocence   Adventure  2014.0

[27278 rows x 4 columns]

In [7]:
df.dropna(inplace=True)

In [8]:
# year to int
df['year'] = df['year'].astype(int)

In [15]:
# change Category to category (name)
df.columns = ['movie_id', 'title', 'category', 'year']

In [17]:
# insert url calling omdb api by title search
df['url'] = 'http://www.omdbapi.com/?apikey=730a97c3&t=' + df['title']

In [43]:
import requests

# for each row in df, get the url and get the json response
# then get the poster, director, actors, and runtime
# and add them to the df
for index, row in df.iterrows():
    response = requests.get(row['url'])
    if response.json()['Response'] == 'False':
        continue
    poster = response.json()['Poster']
    director = response.json()['Director']
    actors = response.json()['Actors']
    runtime = response.json()['Runtime']
    df.loc[index, 'Poster'] = poster
    df.loc[index, 'Director'] = director
    df.loc[index, 'Actors'] = actors
    df.loc[index, 'Runtime'] = runtime
response = requests.get(df['url'])
response.json()
poster = response.json()['Poster']
director = response.json()['Director']
actors = response.json()['Actors']
runtime = response.json()['Runtime']

In [ ]:
df.to_csv('final_data.csv')